.wrapp-menu_sub-menu {
  margin: 0;
  z-index: auto;

  .menu__item {
    padding: 0 21px;
  }

  .menu__item:first-child {
    padding-left 0;
  }

  .menu__item:last-child {
    padding-right 0;
  }

  //background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABH4AAAAKCAYAAADCSZndAAABQUlEQVR4nO3dsU4DMQwG4BT1/V+UHYmFMICEdAPkrnbihu+bnd8+pT1VXnrrvfc26ETplKxHM66en3nu7JlK9Rm1KzMr10XVzO6n5rzI93B0XuXZ5NXLy8h8hhn/e6bcPbJ3yJ/VY8c+q/qt6rmyb7UZWqszx1HVuY5WzfmypCsAAAAA6Sx+AAAAADZl8QMAAACwKYsfAAAAgE1Z/AAAAABsyuIHAAAAYFMWPwAAAACbuvf+MVwc+p/zEVmPRlyeYea5s2cq1WfUxmfeUnoPNaaYkSvpA1Ujn5R+8f4jX8PReZVnk1cv7ys0OC5hxn71y/pbZvSDt+DfaImZcvfI3iH/u0l+jzbpWdq0x/npl/Au+7Pn7Idc3LfaDK3VmeOo6lxHq+a8v7+9LmlMDWd/zqbtKkaDLUueyMhluVAAAIBMn13tLt/bzGFXAAAAAElFTkSuQmCC')no-repeat center center;

}