.content {
  width 1150px;
  margin 0 auto;
  padding 0;
  margin-bottom: 30px;

  &__title {
    font-size 24px;
    color #520676;
    line-height 24px;
    font-family "Georgia Regular";
    padding 20px 0 13px 0;
    margin 0;
  }
}