.header-contacts {
  color: #706f6f;
  font-size : 18px;
  padding: 3px 0 14px 0;
  float left;

  &__address {
    float: left;
    font-style normal;
    padding-top: 13px;
  }

  &__map {
    float: left;
    color #706f6f;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAiCAMAAACDQ7KMAAAAflBMVEUAAAB4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJ4MpJqGLtwAAAAKXRSTlMA9/NRx7cH3Z9FHefQkmFaFgzuvyiyfmgiD+PSpYR4ODGrcW3UtJmKNED+e9AAAAEYSURBVCjPddLpdoIwEIbhScK+C6JS12q39/5vsPGEIkH7/GHOlzkMDIgTnY9hrPPgq25k5ufQMgqqYYq3MQ8q2Y3xVQP7skrNJryXoTswOehN5uaYAEhWtsxslRv5k/Wga9txcldn7AsGSQtIZM5olJGjpk29PAqhlB6KRjwn6OQDQvEZeJM3eF/kZ9BS/NP/+Xz/DQSSKLT/PKsOeknj5YBaQS1DAmo7i9d7yO22Lva4rR5xBxzFSu5LL9eRWE1VYNsvYmUxVnw4VdsyUFi3cZDG00fjog5e3F6mWfE8v8rkNou7ZvaK4RT7H+OcM/pe7srZZ37edNwpIwtG4f6chai0cbyWJ7vC7fVJRTi8yldlKi/tZkN/Adj0J+wrehsHAAAAAElFTkSuQmCC') no-repeat left center;
    padding: 13px 0 13px 41px;
    margin-left: 40px;
  }
}