.layout {
  background-image  url("./img/layout.jpg");
  width 100%;
  height 601px;
  background-size cover;
  padding-top: 20px;

  &__inner {
    width 1150px;
    margin 0 auto;
  }

  &__title {
    font-size 27px;
    line-height 35px;
    font-family "Georgia";
    color #520676;
  }

  &__subtitle {
    color #520676;
    line-height 35px;
    font-size 18px;

    span {
      font-size 30px;
      font-family "Georgia";
      font-weight bold;
    }
  }
}