.wrapp-menu {
  background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAnCAMAAAD5PtKQAAAARVBMVEXBSOK6Rtq3RNazQ9KvQc6oP8akPcGfO7yWN7KSNq6PNKmMMqWIMKCGL52HI5K+R9+9R92rQMqcOriaObaJMqKFK5ePG5CixMeqAAAAMElEQVQI1x3BhREAIQDAsL67oPuPSo+EyuvC49uZy6cP705ENq9eHJg9efTgn4+uAUVaAWcFfOemAAAAAElFTkSuQmCC') repeat-x center center;
  margin-top: -62px;
  z-index: 8;
}