.menu {
  margin 0;
  padding 0;
  list-style none;
  width 1150px;
  margin 0 auto;
  clear both;

  &__item {
    float left;
    padding 0 34px;
    z-index: 10;
    position: relative;
  }
  &__link {
    font-size 18px;
    color #ffffff;
    text-decoration none;
    display block;
    padding: 10px 0;
  }

  &__flipper {
    margin-left 208px;
  }

  &__item:first-child {
    padding-left 0;
  }

  &__item:last-child {
    padding-right 0;
  }
}