.small-block {
  color #706f6f;
  float left;
  padding-left 39px;

  &__title {
    display block;
    color #706f6f;
  }

  &__phone {
    font-size 24px;
    color #706f6f;
    line-height 36px;
    text-decoration none;
  }

  &__desc {
    font-size 14px;
    color #706f6f;
    line-height 58px;
    display inline-block;
    padding-left 13px;
  }

  &__img {
    float left;
  }
}